*{
text-align: center;
list-style: none;
font-family: 'Roboto Slab', serif;
}

a{
color: black;
}

.profileBody{
word-wrap:break-word;
background: #79583E;
color: #C5D1C1;

}
img{
height: 200px;
}

header{
height: 100px;
margin-bottom: 30px;
}



select{
background: #C5D1C1;

}

.drinks{
margin-bottom: 25px;
color: black;
float: left;
width: 40%;
background: #E2EFB3;
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.16), 10px 50px 50px rgba(0, 0, 0, 0.23);
}


.orderSection{
width: 40%;
}

.orderSection button{
background: #C5D1C1;
}

.inCoffee, .inName{
background: #C5D1C1;
}

.row{

width: 50%;
margin-left: 25%;
height: 400px;
}

.well{
float: right;
background: #6B6B6B;

border-radius: 5px;
width: 30%;
box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.16), 10px 50px 50px rgba(0, 0, 0, 0.23);
}
